<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Вывод списка объектов карты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--
        Укажите свой API-ключ. Тестовый ключ НЕ БУДЕТ работать на других сайтах.
        Получить ключ можно в Кабинете разработчика: https://developer.tech.yandex.ru/keys/
    -->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=1ea85255-8e81-4263-bdfe-49858c26b6d4" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="groups.js" type="text/javascript"></script>
    <script src="object_list.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <style type="text/css">
        html, body{
            width: 100%; padding: 0; margin: 0;
            font-family: Arial;
        }

        #map {
            width: 100%;
            height: 100vh;
        }

        .menu {
            position: absolute;
            z-index: 2;
            left: 10px;
            top: 10px;
            width: 90%;

        }
        p {
            margin: 0;
            color: black  
        }
        </style>

</head>

<body>
<div>

</div>
<div id="map" style="position: relative;">
    <div class="menu">
        <div style="width: 30%">
            <div>
                <button href="#" style="background-color: white; border-radius: 0.5em; width: 90%; height: 4vh; border: 0px;">Нажмите, чтобы выбрать точки</button>
                <div id="options" class="uk-dropbar uk-dropbar-top uk-flex-column" uk-drop=" mode: click" style="width:30%; height: 60vh">
                    {% for place in places %}
                        <label style="display: block; font-size: 1em"><input class="Check" type="checkbox">{{ place.name }}</label>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> 
    
    <div style="position: absolute; right: 10px; top: 10px; z-index: 2; width: 30%;">
        <div style="background-color: white; border-radius: 0.5em; width: 100%">
            <div style="margin: 5px">
                <p style = "font-size: 1.1em;">Информация о маршруте:</p>
                <div class="uk-flex">
                    <p style="margin-right: 1%">Точки: </p> <p id="marks"></p>
                </div>

                <div class="uk-flex">
                    <p style="margin-right: 1%">Время: </p> <p id="time_html"></p>
                </div>

                <div class="uk-flex">
                    <p style="margin-right: 1%">Расстояние: </p> <p id="distance_html"></p>
                </div>
            </div>
        </div>

                <!-- This is a button toggling the modal with the default close button -->
        <button style="background-color: white; border: 0; border-radius: 0.5em; font-size: 1em; height: 4vh" type="button" uk-toggle="target: #modal-close-default">Просмотреть прошлые маршруты</button>

        <!-- This is the modal with the default close button -->
        <div id="modal-close-default" uk-modal>
            <div class="uk-modal-dialog uk-modal-body" style="width: 80%;">
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <div style="margin: 5px">
                    <p style="font-size: 1.1em;">Ваши прошлые маршруты:</p>
                    <table class="uk-table uk-table-justify uk-table-divider">
                        <thead>
                            <tr>
                                <th class="uk-width-small">ID Маршрута</th>
                                <th>Точки</th>
                                <th>Время</th>
                                <th>Расстояние</th>
                                <th>Выбрать этот маршрут</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>0</td>
                                <td>Павилион №2 Робостанция, Павилион №10 Молдова</td>
                                <td>6 мин</td>
                                <td>520 м</td>
                                <td><input class="oldRoutes" type="checkbox"></td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Павильон № 5 Музей городского хозяйства Москвы, Павильон №6 «Абхазия»</td>
                                <td>7 мин</td>
                                <td>560 м</td>
                                <td><input class="oldRoutes" type="checkbox"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

</body>

<script>

ymaps.ready(init);

    function init() {

    // массив всех достопримечательностей    
    var places_bd = [

        {% for place in places %}
        {
            center: [{{ place.coordinates }}],
            name: "{{ place.name }}"

        }, 
        {% endfor %}

    ]    



    // проверка чекбоксов, чтобы определить выбранные для посещения достопримечательности (возвращает список из id чекбоксов)
    function checking_checkbox() {
        checks = document.getElementsByClassName('Check')
        var id_labels = new Array()
        for (i=0; i < checks.length; i++) {
            if (checks[i].checked) {
                id_labels.push(i)
            }
        }
        var a = id_labels
        return a
    }

    // возвращает имена выбранных достопримечательностей
    function getting_places_names(id_list) { 
       var options_of_places =  document.getElementById("options").children

       console.log(options_of_places)
       var marks_names = []
       for (i=0; i < id_list.length; i++) {
            var id = id_list[i]
            marks_names.push(options_of_places[id].innerHTML.slice(37, options_of_places[id].innerHTML.length ))
       }
       console.log(marks_names)

       return marks_names

    }

    // возвращает координаты выбранных достопримечательностей
    function getting_coordinates(names, places) {
        var len_places = places.length
        var placemarks_names = []
 
        for (i=0; i < names.length; i++) {
            for (j = 0; j < len_places; j++) {

                if (names[i] == places[j].name) {
                    placemarks_names.push(places[j])
                }
            }

        }

        var coordinates = []
        for (k = 0; k < placemarks_names.length; k++) {
            coordinates.push(placemarks_names[k].center)

        }

        return coordinates
        
    }
    
    // создание стартового маршрута
    var pointA = [55.828693, 37.633724],
        pointB = [55.828693, 37.633724],
        multiRoute = new ymaps.multiRouter.MultiRoute({
            referencePoints: [
                pointA,
                pointB
            ],
            params: {
                //Тип маршрутизации - пешеходная маршрутизация.
                routingMode: 'pedestrian'
            }
        }, {
            // Автоматически устанавливать границы карты так, чтобы маршрут был виден целиком.
            boundsAutoApply: true
        });

    // кнопка построения маршрута
    var get_route = new ymaps.control.Button({
        data: {content: "Построить маршрут"},
        options: {selectOnClick: true,
            position: {top: '50px', left: '10px' }
        }
    });


    // построение маршрута и получение информации
    get_route.events.add('click', function () {

        var a = checking_checkbox()
        var b = getting_places_names(a)
        // j - список координат
        var j = getting_coordinates(b, places_bd)
        var all = [[55.828693, 37.633724]]
        for (i = 0; i< j.length; i++) {
            all.push(j[i])
        }

        document.getElementById('marks').innerHTML = b

        multiRoute.model.setReferencePoints(all);

        multiRoute.model.events.add('requestsuccess', function() {
        var activeRoute = multiRoute.getActiveRoute();

        // время пути
        var route_distance = activeRoute.properties.get("distance").text
        document.getElementById("distance_html").innerHTML = route_distance 
        
        // дистанция
        var route_duration = activeRoute.properties.get("duration").text
        document.getElementById("time_html").innerHTML = route_duration

        console.log("Места: " + b)

        console.log("Длина: " + activeRoute.properties.get("distance").text);
        console.log("Время прохождения: " + activeRoute.properties.get("duration").text);

        // save to database
        $.ajax({

                type: "POST",
                url: "/save",
                data:{
                    points: b,
                    time: activeRoute.properties.get("distance").text,
                    distance: activeRoute.properties.get("duration").text,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(){
                    // alert('Save Data');
                    // $('#firstname').val('');
                    // $('#lastname').val('');
                    // $('#address').val('');
                    // $('#username').val('');
                    // window.location = "/";
                }
            });

    });});

    var get_old_route = new ymaps.control.Button({
        data: {content: "Построить старый маршрут"},
        options: {selectOnClick: true,
            position: {top: '200px', right: '275px'}
        }
    });
    
    var saved = [
        {

        }
    ]

    function old_routes () {
        var f = document.getElementsByClassName('oldRoutes')
        var id_old = []
        for (i=0; i < f.length; i++) {
            id_old.push(i)
        }
    }

    // тут должны быть функция которая берет то, что возвращает old routes и ищет по этому айди в бд сохранненый маршрут и его координаты
    function old_coordinates () {

    }
    
    // построение маршрута и получение информации (points - координаты получаенные из old_coordinates)
    get_old_route.events.add('click', function (points) {

        old_Route = new ymaps.multiRouter.MultiRoute({
            referencePoints: points,
            params: {
                //Тип маршрутизации - пешеходная маршрутизация.
                routingMode: 'pedestrian'
            }
        }, {
            // Автоматически устанавливать границы карты так, чтобы маршрут был виден целиком.
            boundsAutoApply: true
        });

        

        myMap.geoObjects.add(old_Route);
    });



    // создание карты
    var myMap = new ymaps.Map('map', {
        center: [55.739625, 37.54120],
        zoom: 12,
        controls: [get_route, get_old_route]
    }, {
        buttonMaxWidth: 300
    });

    // размещение маршрута на карте
    myMap.geoObjects.add(multiRoute);

    // размещение меток достопримечательностей
    for (i = 0; i < places_bd.length; i++) {
        myMap.geoObjects
        .add(new ymaps.Placemark(places_bd[i].center, {
            balloonContent: places_bd[i].name
        }, {
            preset: 'islands#icon',
            iconColor: '#0095b6'
        }))    
    }

}
    


ymaps.ready(init);


        

</script>


</html>

